.container {
  border: 1px solid black;
  margin: 0px 100px;
}
.title {
  border: 1px solid black;
  text-align: center;
}
.main-content {
  border: 4px solid purple;
  margin: 10px 10px;
  display: flex;
}
.class {
  border: 4px solid pink;
  margin: 10px 10px;
  display: flex;
  width: 800px;
}
.bg-story {
  border: 1px solid black;
  margin: 10px 20px;
}
.class-info {
  border: 1px solid black;
  margin: 10px 20px;
}
.class-picture{
  border: 1px solid black;
  margin: 10px 20px;
}
.snapshot{
  border: 4px solid green;
  margin: 10px 20px;
  width: 500px;
}
.features {
  border: 1px solid black;
  margin: 10px 20px;
}
.columnB {
  border: 4px solid red;
  display: flex;
}
.equipment {
  border: 1px solid black;
  margin: 10px 10px;
}

.venomdagger {

}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-image: url("../../images/PoisonBg.jpg");
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 2px solid purple;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content span {
  font-weight: bolder;
  color: white;
}
.dropdown-content ul{
  list-style: none;
}
.dropdown-content h1 {
  color: white;
}
.dropdown-content ul li {
  color: beige;
  font-style: italic;
}

.item-description {
  font-size: 13px;
}
.features h1 {
  text-align: center;
}
